<!DOCTYPE html>
{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<html>
<head>

  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
   <script src="http://code.jquery.com/jquery-latest.min.js">
  </script>

<script src="//apis.google.com/js/platform.js?onload=start"> </script>
<div class="row top-menu">
 		<div class="col-md-10"></div>
 		<div class="col-md-2 text-right">
 					</div>
 	</div>
 	<div class="row divider blue">
 		<div class="col-md-12"></div>
 	</div>
 	<div class="row banner main">
 		<div class="col-md-1"></div>
 		<div class="col-md-11 padding-none">
 			<h1>Categories</h1>
 		</div>
 	</div>

<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->


</head>


<body>


<!-- GOOGLE PLUS SIGN IN-->


          <div id="signinButton">
          <span class="g-signin"
            data-scope="openid email"
            data-clientid="633994149713-s7cqt7gt51tnpdl3j5gf18qkvmqlcjc2.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
          data-approvalprompt="force">
          </span>
        </div>

<div id="result"></div>

<script>
function signInCallback(authResult) {
  if (authResult['code']) {
    // Hide the sign-in button now that the user is authorized
    $('#signinButton').attr('style', 'display: none');
    // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main categories page
    $.ajax({
      type: 'POST',
      url: '/gconnect?state={{STATE}}',
      processData: false,
      data: authResult['code'],
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
         setTimeout(function() {
          window.location.href = "/categories";
         }, 4000);

      } else if (authResult['error']) {
    console.log('There was an error: ' + authResult['error']);
  } else {
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
         }
      }

  }); } }
</script>


  <!--- End GOOGLE SIGN IN --->

</body>
</html>
{% endblock %}
